#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    position: relative;
  }

  .hideSidebar {
    .sidebar-container {
      width: 64px !important;
    }

    .el-aside {
      width: 64px !important;
    }

    .main-container {
      width: calc(100% - 64px);
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 210px !important;
  }

}
